<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-trip-show" role="document">
    <div class="modal-content modal-trip-show-radius">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Invite a friend to join <%=@trip.title%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for [@trip, @invite], remote: true do |f| %>
      <div class="modal-body">
        <div class="form-wrapper" id="invite-form-div">
            <%= f.input :email, label: 'Please enter an email address to invite a friend' %>
        </div>
      </div>
        <div class="modal-footer">
          <%= f.button :submit, 'Send invite', class: "button-orange" %>
        </div>
        <% end %>
    </div>
  </div>
</div>