// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$ft-dark-blue: #001B27;
$ft-duck-blue: #023D58;
$ft-gray: #414A4F;
$ft-turquoise: #045C65;
$ft-truquoise-clair: #186F70;
$ft-orange: #FE6625;
$ft-orange-clair: #FB9333;
$ft-vert: #45BB89;
$ft-rouge: #D8423B;
