.banner-new-trip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 420px;
  padding: 0;
}


#booking-form-div {
  background: white;
  margin-top: -69px;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 50px;
}
