<div class="mx-2">
  <% if proposition.votes.where(status: 'upvote').map {|vote| vote.user}.include?(current_user) %>
    <i class='far fa-thumbs-up user-voted' data-target="#likeModal-<%=proposition.id%>" data-toggle="modal"></i>
  <% else %>
    <% if proposition.votes.where(status: 'downvote').map {|vote| vote.user}.include?(current_user) %>
      <i class='far fa-thumbs-up unactive-vote' data-target="#likeModal-<%=proposition.id%>" data-toggle="modal"></i>
    <% else %>
      <i class='far fa-thumbs-up unvoted' data-target="#likeModal-<%=proposition.id%>" data-toggle="modal"></i>
    <% end %>
  <% end %>
  <span class="vote-counter">
    <%=proposition.votes.select {|vote| vote.status == "upvote"}.count%>
  </span>
</div>