<div class="footer d-flex  bottom fixed-bottom">
  <div class="footer-links flex-grow-1 mr-4">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright flex-grow-2">
    This footer is made with <i class="fas fa-heart"></i> by the FriendsTrip team
  </div>
</div>
