.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-card {
  position: relative;
  .text {
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    font-size: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  // transform: translate(-50%, -50%);
  // -ms-transform: translate(-50%, -50%);
}

.avatar-card:hover .middle {
  opacity: 1;
}

.unaccepted-invite {
  background-color: white !important;
  opacity: 50%;
}

.avatar-card-name {
  display: flex;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.658);
  color: white;
  text-shadow: 1px 1px 0px rgba(0,0,0,1);
  font-size: 12px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: .5s ease;
  &:hover {
    opacity: 0.7 !important;
  }
}
