.banner {
  padding: 85px 0;
  position: relative;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("travel"));
  &.madrid {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("madrid"));
    background-position: center;
    background-size: cover;
  }&.miami {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("miami"));
    background-position: center;
    background-size: cover;
  }&.bali {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("bali"));
    background-position: center;
    background-size: cover;
  }&.rio {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("rio"));
    background-position: center;
    background-size: cover;
  }
  background-position: center;
  background-size: cover;
}

.banner h1 {
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

// .banner
//   p {
//   text-align: center;
//   margin-top: 10px;
//   margin-bottom: 40px;
//   font-size: 2
//   color: white;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// }

.banner
  h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.sign-in-up-btn {
  display:flex;
  &:hover {
    cursor: pointer;
  }
}

.show-banner-interactions {
  padding-top: 15px;
  display:flex;
  justify-content: center;
}
.home-interactive-butons {
  display:flex;
  justify-content: space-between;
}

.fa-user-circle:before {
  font-size: 50px;
  margin-right: -63px;
  content: "\f2bd";
}

.container h1 h4 {
  color: white;
  margin-top: 10px;
  h3 .button-orange{
    right:0px;
  }
}

.text-banner-login {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

//!\ HOME BANNER BELOW //

.banner-home {
  padding: 150px 0;
  position: relative;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("travel"));
  &.madrid {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("madrid"));
    background-position: center;
    background-size: cover;
  }&.miami {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("miami"));
    background-position: center;
    background-size: cover;
  }&.bali {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("bali"));
    background-position: center;
    background-size: cover;
  }&.rio {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("rio"));
    background-position: center;
    background-size: cover;
  }
  background-position: center;
  background-size: cover;
}

.banner-home h1 {
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
.text-color {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.text-banner-login {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

@media (max-width: 480px) {
  .banner-index {
    height: 150px;
  }
}

@media(max-width: 580px) {
.button-orange-add-a-trip-banner{
      display: none;
    }
}
@media(min-width: 480px) {
  .banner-index {
    height: 150px;
  }
}

@media(min-width: 580px) {
  .banner-index {
    height: 225px;
  }
  .banner-new-trip {
    height: 255px;
  }
}

@media(min-width: 768px) {
  .banner-index {
    height: 300px;
  }
  .banner-index h1 {
    padding-top: 5% !important;
  }
}

@media(min-width: 1200px) {
  .banner-index {
    height: 375px;
  }
}


@media(min-width: 768px) {
  .banner-home {


@media (max-width: 480px) {
  .banner-home {
    height: 150px;
  }
}
@media(min-width: 480px) {
  .banner-home {
    height: 150px;
  }
}

@media(min-width: 580px) {
  .banner-home {
    height: 225px;
  }
}


@media(min-width: 1200px) {
  .banner-home {
    height: 375px;
  }



.banner-index {
  // padding: 150px 0;
  position: relative;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("travel"));
  &.madrid {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("madrid"));
    background-position: center;
    background-size: cover;
  }&.miami {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("miami"));
    background-position: center;
    background-size: cover;
  }&.bali {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("bali"));
    background-position: center;
    background-size: cover;
  }&.rio {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("rio"));
    background-position: center;
    background-size: cover;
  }
  background-position: center;
  background-size: cover;
}

.banner-index h1 {
  text-align: center;
  padding-top: 3%;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

// .banner
//   p {
//   text-align: center;
//   margin-top: 10px;
//   margin-bottom: 40px;
//   font-size: 2
//   color: white;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// }

.banner-home
  h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.sign-in-up-btn {
  display:flex;
  &:hover {
    cursor: pointer;
  }
}

.show-banner-interactions {
  padding-top: 15px;
  display:flex;
  justify-content: center;
}
.home-interactive-butons {
  display:flex;
  justify-content: space-between;
}

.fa-user-circle:before {
  font-size: 50px;
  margin-right: -63px;
  content: "\f2bd";
}

.container h1 h4 {
  color: white;
  margin-top: 10px;
  h3 .button-orange{
    right:0px;
  }
}

