.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  margin-bottom: 50px;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.sign-in-up-btn {
  display:flex;
}

// .btn-index {
//   text-decoration: none;
//   color: white;
//   border: 1px solid white;
//   background-color: rgba(78, 27, 27, 0.664);
//   padding: 16px 32px;
//   border-radius: 50px;
//   font-weight: lighter;
//   transition: opacity 0.3s ease;
// }
// .btn-index:hover {
//   color: white;
//   border: 2px solid white;
//   background-color: #2c514693;
//   text-decoration: none;
//   opacity: 1;
// }

// .link-all-products {
//   color:rgba(168, 1, 1, 0.856) !important;
// }


// .link-all-products:hover {
//   font-size: large;
//   font-weight: 300;
//   color:rgba(161, 0, 0, 0.856) !important;
//   text-decoration: none;
//   font-size: 50px;
// }
