.button-green {
  border-radius: 50px;
  background-color: #186F70;
  color: white;
  padding: 9px 47px;
  margin: 9px;
}

.button-orange {
  border-radius: 50px;
  background-color: #FE6625;
  color: white;
  padding: 9px 47px;
  margin: 9px;
}