.button-green {
  border-radius: 50px;
  background-color: #186F70;
  color: white;
  padding: 9px 47px;
  margin: 9px;
  text-decoration:none;
  box-shadow: 0px 2px 3px #0c4344;
}

.button-orange {
  border-radius: 50px;
  background-color: #FE6625;
  color: white;
  padding: 9px 47px;
  margin: 9px;
  box-shadow: 0px 2px 3px #c54813;

}

.button-orange:hover {
  background-color: #af4619; /* Green */
  color: white;
  text-decoration:none;
  box-shadow: 0px 2px 3px #c54813;
}


.button-green:hover {
  background-color: #114d4e; /* Green */
  color: white;
  text-decoration:none;
  box-shadow: 0px 2px 3px #0c4344;
}

.button-new-trip {
  border: 0px !important;
}

.button-invite {
  border-radius: 50px;
  background-color: #FE6625;
  color: white;
  padding: 9px 47px;
  margin: 9px;
  box-shadow: 0px 2px 3px #c54813;
  // right: 0;
  // bottom: 0;
  // position: absolute;

  &:hover {
    background-color: #af4619; /* Green */
    color: white;
    text-decoration:none;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.button-add {
  background-color: white;
  font-size: 30px;
  font-weight: bolder;
  display:block;
  height: 50px;
  width: 50px;
  padding: 5px;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  color: #9da3a7;
  -webkit-box-shadow: inset 1px 1px 10px #9da3a7;
  -moz-box-shadow:    inset 1px 1px 10px #9da3a7;
  box-shadow: 0px 2px 3px #9da3a7;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  cursor: pointer;
}

#bouton-sticky {
  position: fixed;
  bottom: 13%;
  left: 5%;
  z-index: 9999;
  display: flex;
  align-items: center;
}

.button-add:hover {
  color: grey;
  font-size: 40px;
  text-decoration: none;
  box-shadow: 0px 2px 8px #9da3a7;
}
