ul#ba {
    list-style-type: none;
}
.card-proposition-top{
  text-align: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-size: cover;
  padding: 16px;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
  color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 0px 2px 10px #b4b8bb;
}


.card-proposition-bottom{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background:white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 2px 10px #b4b8bb;
}

.card-proposition {
  padding-bottom: 30px;
}

.card-proposition-top .row{
  display: flex;
  justify-content: space-between;
  padding: 5px 30px 0px;
}

.row-2{
 justify-content: center;
 font-size: 13px;
 padding-top: 10px;
}

.fa-thumbs-up{
 color: $ft-vert;
 padding-right: 4px;
 font-size: 25px;
}

.fa-thumbs-down{
  color: $ft-rouge;
  font-size: 25px;;
 }

.fa-volleyball-ball{
  font-size: 25px;
 }

.fa-hamburger {
  font-size: 25px;
}
.fa-bed {
  font-size: 25px;
}

.bg-color-food  {
 background-color: $ft-orange-clair;
}
.bg-color-accomodation {
  background-color: $ft-duck-blue;
}
.bg-color-activity {
  background-color: $ft-truquoise-clair;
}

.text-color-food  {
  color: $ft-orange-clair;
}
.text-color-accomodation {
  color: $ft-duck-blue;
}
.text-color-activity {
  color: $ft-truquoise-clair;
}

.validation-prop{
  display:flex;
  justify-content: space-between;
  .fa-check-circle {
    font-size:50px;
    font-size: 27px;
    color: #6a8f47;
  }
  .fa-check-circle:hover {
    color: #4d6834;
    // box-shadow: 0px 2px 3px black;
    }
}
.validated-prop {
  opacity: 50%;
}