ul#ba {
    list-style-type: none;
}
// .global-card-proposition{
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-gap: 16px;
// }

.card-proposition-top{
  justify-content: center;
  background-size: cover;
  padding: 24px;
  justify-content: space-around;
  align-items: flex-end;
  color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 0px 2px 10px #b4b8bb;
  position: relative;

  .prop-by {
    font-size: 14px;
    font-style: italic;
  }

}

.badge-category {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: white;
  position: absolute;
  right: 10px;
  z-index: 1;
  font-size: 14px;
  padding: 8px 16px;
  box-shadow: 0px 10px 30px rgba(22, 60, 86, 0.10);

}

.card-proposition-bottom{
  padding: 36px 24px 24px;
  position: relative;
  background:white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 2px 10px #b4b8bb;

  p {
    color: #2A343A;
    margin-bottom: 0;
  }

  .prop-votes {
    margin: 24px 0;
    text-align: center;
  }
}

.button-validated{
  display: inline-block;
  border-radius: 10rem;
  color:rgba(255, 255, 255, 1);
  background-color: $ft-vert;
  font-size: 1rem;
  z-index: 1;
  padding: 12px 30px;
}



.card-proposition-top .row{
  display: flex;
  justify-content: space-between;
  padding: 5px 30px 0px;
}

.row-2{
 justify-content: center;
 font-size: 13px;
 padding-top: 10px;
}

.fa-thumbs-up{
 color: $ft-vert;
 padding-right: 4px;
 font-size: 25px;
 cursor: pointer;
}

.fa-thumbs-down{
  color: $ft-rouge;
  font-size: 25px;;
  cursor: pointer;
 }

// .fa-volleyball-ball{
//   font-size: 25px;
//  }

// .fa-hamburger {
//   font-size: 25px;
// }
// .fa-bed {
//   font-size: 25px;
// }


.validation-prop{
  display:flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.vote-counter {
  font-family: $body-font !important;
}

.trip-invitees-show {
  display: flex;
  position: absolute;
  right: 16px;
  transform: translateY(-150%);
  img.trip-invitee-show {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    background: white;
    margin-left: 5px;
  }
}

.modal-trip-show {
  top: 14%;
}

.modal-trip-show-radius {
  border-radius: 15px;
}

.modal-proposition-new {
  top: 6%;
  width: 600px;
}
.modal-proposition-new-style {
  border-radius: 15px;
  width: auto;
    .modal-footer {
      justify-content: center !important;
    }
}

.proposition-form {
  width: 690px;
}

.booking-form-div-proposition {
    background: white !important;
    margin-top: 2px !important;
    padding: 22px !important;
    border-radius: 20px !important;
    margin-bottom: 0px !important;
}


.proposition-form-left {
  border-right: 1px solid $ft-duck-blue;
  padding-right: 45px;
}
.proposition-form-right {
  padding-left: 45px;
}

.modal-title {
  color: $ft-duck-blue;
}

.proposition-owner {
  // position: absolute;
  top: 0;
  right: 16px;
  // transform: translateY(-75%);
  img.proposition-owner {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    background: white;
  }
}



.button-interactive {
	display: inline-block;
	padding: .75rem 1.25rem;
	border-radius: 10rem;
	color:$ft-vert;
  background-color: rgba(255, 255, 255, 1);
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: .15rem;
	transition: all .3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
    border: 1px solid $ft-vert;
		border-radius: 10rem;
		z-index: -2;
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: $ft-vert;
		transition: all .3s;
		border-radius: 10rem;
		z-index: -1;
	}
	&:hover {
		color: #fff;
		&:before {
			width: 100%;
		}
	}
}


// HOVER SUR TITRE
.proposition-title {
  position: relative;
  &:hover {
    // color: grayscale($color: #252323ea);
    cursor: pointer;
    transition: 0.4s ease;
    &:before {
      width: 110%;
    }
  }

  &:before {
    content: "";
    width: 0%;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -4px;
    transition: width 0.4s ease;
    left: 50%;
    transform: translateX(-50%);
  }
}


// modal show proposition


.comment {
  color: grey;
  padding: 10px;
  font-style: italic;
  background: #f3f3f3;
}



// .testinaki {
//   background-color: #ffffff;
//   /* border: 1px solid; */
//   border-radius: 4px;
//   /* padding: 23px; */
//   color: grey;
//   font-style: italic;
//   /* background: #f3f3f3; */
// }



.modal-prop-counter-proposition{
  mark {
    background-color: #ffffff !important;
  }
  display: flex;
  justify-content: center;
}

.modal-content {
  .modal-footer{
    .validatedpropmsg{background-color: #45bb89;
      padding: 6px;
      border-radius: 20px;
      color: white;
    }
  justify-content: center !important;
  }

}

.modal-content {
  .modal-header{
    border-radius: 13px 13px 0px 0px;
    button{
      color: white;
    }
    .modal-title{
      a{
        text-decoration: none;
        color: white;
      }
    }
  }
}


.name{
  color: black;
}






.list-propositions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px 24px;
    margin-bottom: 60px;
}

.prop-card {
  &.accomodation {
    .prop-by {
      color: #D1e9F9;
    }
    .card-proposition-top {
      background-color: $ft-duck-blue;
    }
    .badge-category {
      color: #173C3E;
    }
  }
  &.food {
    .prop-by {
      color: #FBEFE4;

    }
    .card-proposition-top {
      background-color: $ft-orange-clair;
    }
    .badge-category {
      color: #A95002;
    }
  }
  &.activity {
    .prop-by {
      color: #dcfeff;

    }
    .card-proposition-top {
      background-color: $ft-truquoise-clair;
    }
    .badge-category {
      color: #104b4c;
    }
  }
}
