.modal-dialog {
  max-width: unset !important;
}

.modal-dialog-centered {
  justify-content: center;
}

.close-invite {
  color: black;
}

// .modal-content {
//   border-radius: 16px;
// }

// .button-modal {
//   cursor: pointer;
// }
