
.map {
  width: 100%;
  height: 100vh; 
  border-radius: 20px;
}
#map-all {
    position: sticky;
    top: 0;
    //margin-top: 0px;
  }
  #map-pending {
    position: sticky;
    top: 0;
    //margin-top: 0px;
  }
  .mapboxgl-popup {
    max-width: 200px;
  }
  .mapboxgl-popup-content {
    border-radius: 10px !important;
    text-align: center;
    font-family: $body-font;
    background-color: rgba(255, 255, 255, 0.8) !important;
      a {
       text-decoration: none !important;
      }
  }
  .btn-marker:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  .fas {
    &:hover {
    cursor: pointer;
  }
  }


.text-color-food{
  color: $ft-orange-clair;
  font-size: 24px;
  } 

.text-color-activity{
  color: $ft-truquoise-clair;
  font-size: 24px;
  }

.text-color-accomodation{
  color: $ft-duck-blue;
  font-size: 24px;
  }