  #map {
    height: 100vh;
    position: sticky;
    top: 0;
    //margin-top: 0px;
  }
  .mapboxgl-popup {
    max-width: 200px;
  }
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  .btn-marker:hover {
    text-decoration: none;
    color: black;
  }

  .marker {

  }
