.navigation-tabs {
  display:flex;
  justify-content: space-between;
  position:relative;
}

.button-tabs {
  position: absolute;
  cursor: pointer;
  bottom: -85px;
  border-radius: 25px 25px 0px 0px;
  background-color: #f4f4f4;
  color: #8a8a8a;
  padding: 9px 47px;
  margin: 0px 9px 0px 0px;
  font-size:10px;
  vertical-align: middle;
}

.button-tabs span {
  background: $ft-truquoise-clair;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
}

.unactive-tab {
  background-color: #cccbcb;
  &:hover {
    color: #8a8a8a;
    background-color: #f4f4f4;
  }
}

  h5 {
    font-size:18px;
    width:100%;
    margin-bottom: 0px;
  }


.logo-font{
  font-family: $logo-font;
}

.all-steps {
  position: absolute;
  left: 230px;
}

