.navigation-tabs {
  display:flex;
  justify-content: space-between;
  position:relative;
}

.button-tabs {
  position: absolute;
  bottom: -150px;
  border-radius: 25px 25px 0px 0px;
  background-color: #186F70;
  color: white;
  padding: 9px 47px;
  margin: 0px 9px 0px 0px;
  font-size:10px;
  vertical-align: middle;
  box-shadow: 2px 0px 3px #0c4344;
  &:hover {
    background-color: #114d4e; /* Green */
    color: white;
    text-decoration:none;
    box-shadow: 2px 0px 3px #0c4344;
    }

  h5 {
    font-size:18px;
    width:100%;
    margin-bottom: 0px;
  }
}

.logo-font{
  font-family: $logo-font;
}

.all-steps {
  position: absolute;
  left: 205px;
}
