ul#ba {
    list-style-type: none;
}


.trip-card-top{
  text-align: center;
  justify-content: center;
  height: 180px;
  width: 100%;
  background-size: cover;
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: white;
  background-size: cover !important;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("travel"));
  &.Madrid {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("Madrid"));
  }&.Miami {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("Miami"));
  }&.Bali {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("Bali"));
  }&.Rio {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(asset-path("Rio"));
  }
}


.trip-card-bottom{
  padding: 10px 20px 20px 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background:white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.fa-plane-departure {
  font-size: 20px;
}
.fa-plane-arrival {
  font-size: 20px;
}
.fa-clock{
  font-size: 20px;
}
.fa-user-check{
  font-size: 20px;
}
.trip-card {
  padding-bottom: 30px;
  transition: all .2s ease-in-out;

}

.trip-card:hover {
  transform: scale(1.025);
}

.past-trip {
  filter: brightness(35%);
}

.trip-card-link{
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.trip-invitees {
  position: absolute;
  top: 0;
  right: 16px;
  transform: translateY(-75%);
  img.trip-invitee {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    background: white;
  }
}
.trip-owner-show{
  position: absolute;
  left: 16px;
  transform: translateY(-443%);
  img.trip-owner-show {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    background: white;
  }
}

.trip-card-date{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right:1px dashed;
  padding-top: 5px;
  padding-right:15px;
  font-size:15px;
}

.year{
  font-size:10px;
  padding-left: 20px;
}

.end-date{
  padding-top: 4px;
}

.fas{
  margin-right: 3px;
}

.trip-days{
  position: left;
  font-size: 15px;
  padding-top: 10px;
  color: rgb(166, 170, 170);
}

.participating{
  text-indent: 1em;
  display: flex;
  justify-content: space-around;
}

.duration{
  text-indent: 1em;
  display: flex;
  justify-content: space-around;
  }

.data{
  color: black;
}

// .card-trip {
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }
// .tcard-trip > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }
// .card-trip h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }
// .card-trip p {
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
// }
// // .trip-card-top {
// // }
// // .trip-card-bottom {
// //   padding: 16px;
// //   display: flex;
// //   justify-content: space-between;
// //   align-items: flex-end;
// //   position: relative;
// // }
// .card-trip-infos .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
