ul#ba {
    list-style-type: none;
}
.trip-card-top{
  text-align: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  background-size: cover;
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}


.trip-card-bottom{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background:white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.trip-card {
  padding-bottom: 30px;
}

.trip-card-link{
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}


.trip-invitees {
  position: absolute;
  top: 0;
  right: 16px;
  transform: translateY(-50%);
  img.trip-invitee {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    background: white;
  }
}

// .card-trip {
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }
// .tcard-trip > img {
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
// }
// .card-trip h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }
// .card-trip p {
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
// }
// // .trip-card-top {
// // }
// // .trip-card-bottom {
// //   padding: 16px;
// //   display: flex;
// //   justify-content: space-between;
// //   align-items: flex-end;
// //   position: relative;
// // }
// .card-trip-infos .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
